
  main {    
    background-color: grey;
  }

  .card-container1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 3%;
    gap: 10px; /* Adjust the gap as needed */
  }

  .card-container2 {
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(2, 1fr);
    padding: 3%;
    padding-bottom: 2%;
  }

