body{
    background-color: lightblue;
}
main{
    margin: 20px;
}
.ryan nav{
    background-color: grey;
}
.ryan nav a{
    color: lightblue;
    background-color: grey;
}

.about-us {
    size: 20dvh;
}

footer{
    background-color: grey;
    position: relative;
    width: 100%;
    bottom: 0;
}

footer p{
    color: lightblue;
    margin:20px;
}

footer a{
    color: lightblue;
}

@media (max-width: 256px) {
    .carousel-inner img {
      display: none;
    }
  }

  @media screen and (min-width: 500px) and (max-width: 768px) {
    body {
      font-size: 16px;
    }
  }
 