body{
    background-color: lightblue;
}
main{
    margin: 20px;
}
.ryan nav{
    background-color: grey;
}
.ryan nav a{
    color: lightblue;
}

.about-us {
    size: 20dvh;
}

footer{
    background-color: grey;
    position: relative;
    width: 100%;
    bottom: 0;
}

footer p{
    margin:20px;
}

